/*
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

a {
    color: white;
}


header {
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#logo img{
    max-width: 250px;
}

.menu-navigation ul{
    display: flex;
}

.menu-navigation li {
    margin-right: 100px;
}
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: none;
    list-style: none;
}

body {
    background-color: blueviolet;
    color: white;
    font-size: 16px;
}

header {
    position: fixed;
    left: 50%;
    transform: translatex(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 10%;

    & img {
        width: 250px;
    }

    & nav {
        & ul {
            display: grid;
            grid-template-columns: repeat(3, 200px);
        }
    }
}

div.item {
    display: grid;
    grid-template-columns: 1fr 1fr;

    
}

button#saiba-mais {
    background-color: greenyellow;
    padding: 10px 20px;
    border-radius: 15px;
}

button#saiba-mais:hover {
    background-color: white;
}

button img {
    width: 20px;
    height: 20px;
}

