* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

a {
    color: white;
}


header {
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#logo img{
    max-width: 250px;
}

.menu-navigation ul{
    display: flex;
}

.menu-navigation li {
    margin-right: 100px;
}